textarea {
    resize: vertical;
    border-radius: 5px;
    max-height: 100px;
    background-color: rgb(118, 7, 7);
    border: 1px solid;
    border-color: rgb(70, 2, 2);
    min-height: 20px;
}
label {
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 170px;
}

form {
    width: 250px;
    border: 2px solid;
    border-radius: 5px;
    height: 450px;
    border-color: rgb(70, 2, 2);
    background-color: rgb(139, 8, 8);
}
body {
    font-family: sans-serif;
    background-color: rgb(142, 21, 21);
}
.button {
    cursor: pointer;
}
input {
    border-radius: 5px;
    background-color: rgb(118, 7, 7);
    border: 1px solid;
    border-color: rgb(70, 2, 2);
}
fieldset {
    border: none;
    padding-bottom: 5px;
    padding-top: 5px;
}
button {
    background-color: rgb(118, 7, 7);
    border: 1px solid;
    border-color: rgb(70, 2, 2);
    margin-left: 10px;
}

